body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

/*#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}*/

.now {
 color: white;
 opacity: 1;
 text-shadow: 0.7px 0.7px 0.7px #000;
}
.rest {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.img {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.border1 {
  border: 0;
  background-color: #2B3856;
  margin-top:auto;
  margin-bottom: auto;
  width: 350px;
  height: 820px;

}
.border2 {
  text-align: center;
  /*align-items: center;*/
  /*margin-top:auto;
  margin-bottom: auto;*/
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;

}
.profile-img {
  width: 100%
  height: 100%
  object-fit: cover;
}
