body {
  margin: 0;
}


.container {
  height:100vh;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}


.now {
 color: white;
 opacity: 1;
 text-shadow: 0.7px 0.7px 0.7px #000;
}
.rest {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}


.img {
  /*display: flex;*/
  justify-content: center;
  /*margin-top: 170px;*/
}

.border1 {
  position: fixed;
  border: 0;
  background-color: #2B3856;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border2 {
  text-align: center;
  /*justify-content: center;*/
  display: flex;
  flex-direction: column;
}

#mimoticon {
width: 150px;
height: 150px;
border: 1px solid #2B3856;
border-radius: 70%
}

.body {
  margin-left: 260px;
  margin-top: auto;
  margin-bottom:auto;
}
